body {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
}

h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    position: relative;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.red-text {
    color: #e7000b;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
}

.logo {
    cursor: pointer;
}

.option {
    font-size: 0.9rem;
    cursor: pointer;
}

.nav-menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 35px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid #e5e7eb;
    height: 35px;
    width: 220px;
    border-radius: 10px;
    margin: 0 15px 0 0;
}

.search-icon {
    width: 15px;
    padding: 8px;
    border-radius: 10px;
}

.search-input {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
}

.profile-icon {
    width: 35px;
    border: 3px solid #001959;
    border-radius: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.hero-container-1 {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    padding: 80px 0 50px 0;
}

.txt-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.hero-txt {
    width: 580px;
}

.img-container {
    display: flex;
    flex: 1;
    justify-content: right;
}

.hero-img {
    width: 540px;
}

.stats {
    display: flex;
    align-items: center;
    border: 1px dashed #a1a1a1;
    width: fit-content;
    height: fit-content;
    padding: 8px 15px 8px 15px;
    border-radius: 25px;
    font-size: 0.9rem;
}

.green-dot {
    height: 12px;
    width: 12px;
    background-color: #00ab93;
    border-radius: 50%;
    margin: 0 8px 0 0;
}

.hero-h1 {
    line-height: 70px;
    margin: 15px 0 15px 0;
    padding: 0;
    color: #001c52;
    font-size: 4.3rem;
}

.hero-p {
    text-align: justify;
    color: #4d667f;
    margin: 15px 0 15px 0;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.learn-more {
    width: 140px;
    height: 55px;
    background-color: #fafafa;
    color: #001959;
    border-radius: 15px;
    border: 2px solid #0019593e;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.explore-courses {
    width: 150px;
    height: 55px;
    background-color: #001959;
    color: #fafafa;
    border-radius: 15px;
    border: 2px solid #001959;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #001959;
    margin: 25px 0 25px 0;
    border-radius: 15px 150px 15px 15px;
}

.achievements-data {
    display: flex;
    justify-content: space-around;
}

.achievements-img {
    display: flex;
    align-items: center;
    background-color: #7e93c8;
    height: fit-content;
    border-radius: 0 15px 0 10px;
    margin: 0 15px 0 0;
}

.achievements-icons {
    width: 35px;
    margin: 0;
    padding: 10px;
}

.achievements-txt h3{
    color: #fafafa;
    font-size: 2.2rem;
}

.achievements-txt p {
    color: #e5e5e5;
    opacity: 0.6;
    font-size: 1rem;
}

.data {
    display: flex;
    align-items: center;
}

.achievements-margin {
    height: 100%;
    width: 1.2px;
    background-color: #fafafa;
}

.hero-container-3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.brick-pattern {
    position: absolute;
    background-image: url("./media/bricks.png");
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex: 3;
    background-color: #00ab93;
    width: 100%;
    height: 250px;
    margin: 0 12.5px 0 0;
    border-radius: 15px 50px 15px 50px;
}

.skills-txt {
    color: #fafafa;
    padding: 0 25px 0 30px;
    margin: 0 0 10px 0;
}

.skills-txt h3 {
    font-size: 2.2rem;
    font-weight: 650;
}

.skills-txt p {
    font-size: 1.1rem;
}

.skills-lst {
    margin: 10px 0 0 0;
    padding: 0 25px 0 30px;
    display: flex;
    flex-direction: column;
    color: #00ab93;
    font-weight: 350;
}

.line-1 {
    display: flex;
    margin: 0 0 5px 0;
}

.line-2 {
    display: flex;
    margin: 5px 0 0 0;
}

.lst-item {
    width: fit-content;
    background-color: #fafafa;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    margin: 0 10px 0 0;
}

.mentor {
    position: relative;
    flex: 2;
    background-color: #001959;
    width: 100%;
    height: 250px;
    margin: 0 0 0 12.5px;
    border-radius: 15px 50px 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mentor-txt {
    position: absolute;
    color: #fafafa;
    padding: 0 25px 0 30px;
}

.mentor-txt h3 {
    font-size: 2.1rem;
    font-weight: 650;
    margin: 0 0 10px 0;
}

.mentor-txt p {
    font-size: 1.1rem;
}