* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.signup-card {
    width: 360px;
    text-align: center;
    height: 100vh;
}

#logo {
    width: 140px;
    margin: 20px 0 10px 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 0 5px 0;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid #e5e5e8;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}

.container {
    margin: 30px 0 10px;
}

.google-icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
}

.signup {
    margin: 15px 0 15px 0;
    background-color: #a6a6ae;
    color: #e5e5e8;
    font-weight: bold;
}

.line {
    border-top: 1px solid #e5e5e8;
    margin: 25px 0;
}

label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 10px 0 10px;
}

input {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    background-color: white;
    border: 1px solid #e5e5e8;
    border-radius: 12px;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
    border-color: #a6a6ae;
}

p {
    font-size: 0.9rem;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    background-color: #00000005;
    color: #00001187;
    font-weight: 600;
}

.password-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.password-wrapper input {
    padding-right: 45px;
    margin-bottom: 0;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 25%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}